# Build directories
build*/

# QtCreator settings
CMakeLists.txt.user

# Log file
HexGPU.log

# Screenshotsh directory
screenshots/

# Textures directory
textures/

# Directory for other stuff
other/

# Binary files
*.exe
*.dll
