# Build directories
build*/

# QtCreator settings
CMakeLists.txt.user

# Log file
HexGPU.log

# Settings file
HexGPU.cfg

# Screenshotsh directory
screenshots/

# Default world data directory
world/

# Directory for other stuff
other/

# Binary files
*.exe
*.dll
